name: Publish to crates.io

on:
  workflow_dispatch

jobs:
  dry-run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: cargo publish --dry-run
  
  publish:
    needs: [dry-run]
    runs-on: ubuntu-latest
    environment: crates.io-publish
    steps:
      - uses: actions/checkout@v4
      - run: cargo publish
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}