name: Publishing on crates.io

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'

jobs:
  run-full-ci:
    uses: ./.github/workflows/ci.yml

  dry-run:
    needs: [run-full-ci]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: cargo publish --dry-run

  publish:
    needs: [dry-run]
    runs-on: ubuntu-latest
    environment: crates.io-publish
    steps:
      - uses: actions/checkout@v4
      - run: cargo publish
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
